<template>
  <div>
    <h2 class="form-signin-heading text-center">list</h2>
    <div class="bs-example">
      <div class="panel panel-default">
        <div class="panel-heading">Panel heading</div>
        <table class="table">
          <thead>
          <tr>
            <th>Name</th>
            <th>income</th>
            <th>output</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="item in recordList">
            <td>{{ item.name }}</td>
            <td>{{ item.income }}</td>
            <td>{{ item.output }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div>
      <input v-model="name"/>
      <input v-model="income"/>
      <input v-model="output"/>
      <button @click.prevent="add">添加</button>
    </div>
    <div>
      <button @click.prevent="logout">退出</button>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'recordList',
    data() {
      return {
        recordList: '',
        name: '',
        income: '',
        output: ''
      }
    },
    created: function () {
      this.getList()
    },
    methods: {
      add: function () {
        var formData = {
          name: this.name,
          income: this.income,
          output: this.output
        }
        this.$http.post(this.$url.record.add, this.$utils.qssf(formData)).then((res) => {
          if (res.data.status) {
            this.getList()
          }
        }).then((error) => {
          console.log(error)
        })
      },
      getList: function () {
        this.$http.post(this.$url.record.list, this.$utils.qssf({})).then((res) => {
          this.recordList = res.data.data
        }).catch((err) => {
          console.log(err)
        })
      },
      logout: function () {
        this.$http.post(this.$url.logout, {}).then(res => {
          if (res.data.status) {
            this.$router.push(this.$view.login)
          }
        }).then(error => {
          console.log(error)
        })
      }
    }
  }
</script>
