<template>
    <div>
      <h2 class="form-signin-heading text-center">哈哈</h2>
      <div class="form-group">
        <h4>邮箱</h4>
        <input v-model="email" type="text" class="form-control" placeholder="邮箱">
      </div>
      <div class="form-group">
        <h4>密码</h4>
        <input v-model="password" type="password" name="password" id="inputPassword" class="form-control">
      </div>
      <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block" @click.prevent="doLogin">登陆</button>
      </div>
      <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block" @click.prevent="gotoRegister">注册</button>
      </div>
    </div>
</template>

<script>
  export default {
    name: 'login',
    data() {
      return {
        email: 'thare.liang@gmail.com',
        password: ''
      }
    },
    created: function() {
      this.$utils.checkLogin(this)
    },
    methods: {
      doLogin: function () {
        if (this.$utils.isNullOrUndifine(this.email) || this.$utils.isNullOrUndifine(this.password)) {
          return
        }
        var formData = {
          email: this.email,
          password: this.password
        }
        this.$http.post(this.$url.login, this.$utils.qssf(formData)).then((res) => {
          if (res.data.status) {
            var next = this.$view.welcome
            if (!this.$utils.isNullOrUndifine(this.$route.query.redirect)) {
              next = this.$route.query.redirect
            }
            this.$router.push(next)
          } else {
            alert('login fail')
          }
        }).catch(function (error) {
          console.log(error);
        })
      },
      gotoRegister: function () {
        this.$router.push(this.$view.register)
      }
    }
  }
</script>
