<template>
  <div>
    <h2 class="form-signin-heading text-center">注册</h2>
    <div class="form-group">
      <h4>用户名</h4>
      <input v-model="name" type="text" class="form-control" placeholder="用户名">
    </div>
    <div class="form-group">
      <h4>邮箱</h4>
      <input v-model="email" type="text" class="form-control" placeholder="邮箱">
    </div>
    <div class="form-group">
      <h4>密码</h4>
      <input v-model="password" type="password" class="form-control">
    </div>
    <div class="form-group">
      <h4>确认密码</h4>
      <input v-model="confirmPassword" type="password" class="form-control">
    </div>
    <div class="form-group">
      <button class="btn btn-lg btn-primary btn-block" @click.prevent="doRegister">注册</button>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'register',
    data() {
      return {
        name: '',
        email: '',
        password: '',
        confirmPassword: ''
      }
    },
    created: function () {
      this.$utils.checkLogin(this)
    },
    methods: {
      doRegister: function () {
        if (this.password !== this.confirmPassword) {
          alert('两次输入的密码不一样')
          return
        }
        var formData = {
          name: this.name,
          email: this.email,
          password: this.password
        }
        this.$http.post(this.$url.register, this.$utils.qssf(formData)).then((res) => {
          if (res.data.status) {
            this.$router.push(this.$view.verify)
          } else {
            alert('register failed')
          }
        }).catch(function (error) {
          console.log(error)
        })
      }
    }
  }
</script>
