<template>
  <div>
    <h2 class="form-signin-heading text-center">哈哈</h2>
    <div class="form-group">
      <h4>验证码</h4>
      <input v-model="verifyCode" type="text" class="form-control" placeholder="验证码">
    </div>
    <div class="form-group">
      <button class="btn btn-lg btn-primary btn-block" @click.prevent="doVerify">验证</button>
    </div>
    <div class="form-group">
      <button class="btn btn-lg btn-primary btn-block" @click.prevent="gotoRegister">重发</button>
    </div>
    <div class="form-group">
      <button class="btn btn-lg btn-primary btn-block" @click.prevent="logout">退出</button>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'verify',
    data() {
      return {
        verifyCode: ''
      }
    },
    methods: {
      doVerify: function () {
        if (this.$utils.isNullOrUndifine(this.verifyCode)) {
          return
        }
        var formData = {
          code: this.verifyCode
        }
        this.$http.post(this.$url.verify, this.$utils.qssf(formData)).then(res => {
          if (res.data.status) {
            var next = this.$view.welcome
            if (!this.$utils.isNullOrUndifine(this.$route.query.redirect)) {
              next = this.$route.query.redirect
            }
            this.$router.push(next)
          } else {
            alert('验证码输入错误')
          }
        }).catch(error => {
          console.log(error)
        })
      },
      logout: function () {
        this.$http.post(this.$url.logout, {}).then(res => {
          if (res.data.status) {
            this.$router.push(this.$view.login)
          }
        }).then(error => {
          console.log(error)
        })
      }
    }
  }
</script>
